h1
{
	font-family:helvetica, sans-serif;
	color:#662F13;
}

body
{
	font-weight:normal;
	color:#662F13;
	letter-spacing:1pt;
	word-spacing:1pt;
	font-size:12px;
	text-align:justify;
	font-family:helvetica, sans-serif;
	line-height:2;
	margin:0px;
	padding:20px;
}

.inline{
    display:inline-block;
    margin:1px 1px;
    padding:1px;
}
